<div class="event-preview-wrapper {{committee_id}}">
  <div class="gradient-test">
    <div class="event-preview">
      <h3><a href="/event?id={{id}}">{{name}}</a></h3>
      <div class="event-info">
        {{formatDateRange startDate endDate }}
      </div>
      <div class="event-description">
        {{description}}
      </div>
    </div>
  </div>
</div>
